@media (max-width:670px) {
    .header-list {
        display: none;
    }
    .menu-icon {
        display:block;
        color: white;
    }
    .container1 {
        text-align: center;
        padding: 20px;
    }
    .container1 h1 {
        font-size: 40px;
        color: blue;
        letter-spacing: 0.5px;
    }
    .container1 h2 {
        font-size: 20px;
    }
    .container1 img {
        width: 70%;
    }
    .container2 {
        text-align: left;
        padding: 20px;
    }
    .container2 p {
        padding-bottom: 10px;
    }

    .contents {
        padding: 20px;
    }

    .contact-form {
        padding: 20px;
    }

    .input1 {
        width:300px;
        padding:5px;
        border-radius: 5px;
        
    }
    .input2 {
        width:300px;
        height: 200px;
        padding:5px;
        border-radius: 5px; 
    }
    .input3 {
        width: 300px;
    }
    footer {
        text-align: center;
        height: 250px;
    }
    .footer-logo {
        float: none;
    }
    .footer-list {
        float: none;
        padding-top:10px;
    }
}
